<div class="root">
  <div class="leftContainer">
    <button id=btnAddCase mat-raised-button color="primary" (click)=onAddCase()>添加案件</button>
    <app-records></app-records>
  </div>

  <div class="rightContainer">
    <div id = chart>
      <canvas #bgCanvas id="bgCanvas"></canvas>
      <div #contentDiv id='contentDiv'></div>
    </div>
  </div>
  <div class="btnDiv">
    <mat-form-field style="width: 80px;">
      <mat-label>转账前</mat-label>
      <input matInput type="number" [(ngModel)]="before">
    </mat-form-field>
    <mat-form-field style="width: 80px;">
      <mat-label>转账后</mat-label>
      <input matInput type="number" [(ngModel)]="after">
    </mat-form-field>
    
    <button id="btnClear" mat-raised-button color="primary" (click)=onSaveImage()>保存图片</button>

  </div>
 
  <div id="toggleLeft" class="toggleLeft" (click)="onToggleLeft()"></div>
</div>
