<!-- 
<div #root id="root" [cdkDragFreeDragPosition]="position" cdkDragLockAxis="x" cdkDrag (cdkDragMoved)=onMoving($event) (click)=onClick()>
  <p>{{tradeTime}}--{{count}}--{{totalMoney}}元</p>
  <p> {{secondLineContent}}</p>
  <div class="btnDel" (click)="onDelete();$event.stopPropagation();"></div>
  <div class="btnConnect" (click)="onConnect();$event.stopPropagation();"></div>
  <div class="btnDuration" (click)="onSetDuration();$event.stopPropagation();"></div>
</div> -->

<div #root id="root" [style.top.px]="y" [style.left.px]="x" [style.background-color]="bgColor" (click)=onClick()>
  <div class="text-container">
    <p>{{tradeTime}}-{{count}}-{{totalMoney|number:'1.1-10'}}元</p>
    <p> {{secondLineContent}}</p>
  </div>
  <div *ngIf="!isFalseNode" class="btn-container">
    <div *ngIf="!isFirstNode" class="btn btnDel" (click)="onDelete();
    $event.stopPropagation();" matTooltip="删除节点" matTooltipPosition=above>
    </div>
    <div class="btn btnConnect" *ngIf="data.children.length == 0 || data.lowerAccount"
      (click)="onSetValue('lowerAccount');$event.stopPropagation();" matTooltip="添加下级节点" matTooltipPosition=above></div>
    <div class="btn btnDuration" (click)="onChangDuration();$event.stopPropagation();" matTooltip="设置查询时长"
      matTooltipPosition=above></div>
    <div *ngIf="!isFirstNode" class="btn btnRemark" (click)="onSetValue('remark');$event.stopPropagation();"
      matTooltip="添加备注" matTooltipPosition=above></div>
  </div>
</div>
