#root {
  width: fit-content;
  position: absolute;
  background-color:lightseagreen;
  cursor: pointer;
  font-size: 16px;
  border:1px solid darkslategrey
}
p{
  max-width:200px;
  line-height: 18px;
  margin: 5px;
  padding:1px 5px
}

.btnDel {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/delete.png');
  background-size: 100% auto; 
  cursor: pointer;
  top:8px;
  right: 5px;
  opacity: 0.1;
}

.btnDel:hover{
  background-image: url('../../assets/delete_over.png');
  opacity: 1;
}

.btnConnect {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/connect.png');
  background-size: 100% auto; 
  cursor: pointer;
  top:8px;
  right: 35px;
  opacity: 0.3;
}

.btnConnect:hover{
  background-image: url('../../assets/connect_over.png');
  opacity: 1;
}

.btnDuration {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/duration.png');
  background-size: 100% auto; 
  cursor: pointer;
  top:8px;
  right: 65px;
  opacity: 0.2;
}

.btnDuration:hover{
  background-image: url('../../assets/duration_over.png');
  opacity: 1;
}